body {
  margin: 0;
}

#header {
  display: flex;
  background-color: rgb(15, 15, 15);
  height: 4rem;
  align-items: center;
  z-index: 10;
  padding-inline: 1rem;
}

.navlogo {
  display: none;
}

.searchbar {
  padding-left: 15px;
}

.searchbar input {
  height: 2rem;
  width: 60vw;
  max-width: 31.25rem;
  border: none;
  padding-left: 0.5rem;
  border-top-left-radius: 5px 5px;
  border-bottom-left-radius: 5px 5px;
  background-color: snow;
}

.searchbar input:hover {
  color: none;
}

.searchbar button {
  cursor: pointer;
  height: 2.125rem;
  width: 2rem;
  background-color: snow;
  border: none;
  border-top-right-radius: 5px 5px;
  border-bottom-right-radius: 5px 5px;
  float: right;
  border-left: 2px solid rgb(190, 190, 190);
}

.menu {
  height: 100vh;
  width: 100%;
  background: red;
  position: fixed;
  top: -100%;
  left: 0;
  transition: top 0.5s;
  box-shadow: 10px 0px 21px -10px rgba(0, 0, 0, 0.75);
  z-index: 5;
}

.menu-button {
  display: flex;
  align-items: center;
}

.menu-button:hover {
  cursor: pointer;
}

.menutitle {
  display: none;
}

.menu-button i.material-icons {
  font-size: 2.5rem;
  color: snow;
}

.menuicontext {
  display: flex;
  align-items: center;
  font-size: 2rem;
}

.show {
  top: 4rem;
}

.fade-layer {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
  z-index: 2.5;
}

.fade-layer.visible {
  display: block;
}

.headerbtn {
  display: none;
  text-decoration: none;
}

/* -------------------------------------------------------- */

#main {
  min-height: 50vh;
  margin: 0;
  background-color: black;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
}

.slideshow-container {
  position: relative;
  width: 100%;
}

.mySlides > a::after {
  content: "";
  position: absolute;
  inset: 0;
  background-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 1)
  );
}

.prev,
.next {
  color: white;
  cursor: pointer;
  position: absolute;
  width: auto;
  top: 50%;
  padding: 1rem;
  margin-top: -22px;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* -------------------------------------------------------- */

#section {
  background-color: black;
  min-height: 75vh;
  color: snow;
  margin: 0;
}

.sectiontitle {
  padding-left: 10px;
  padding-top: 5vh;
  padding-bottom: 20px;
  margin: 0;
  background-color: rgb(15, 15, 15);
}

.horisantalscrollmenu {
  display: flex;
  overflow-x: auto;
  white-space: nowrap;
  gap: 10px;
  background-color: rgb(15, 15, 15);
}

.horisantalscrollmenu a {
  display: inline-block;
  font-size: 50px;
  text-align: center;
  text-decoration: none;
  color: black;
  position: relative;
}

.horisantalscrollmenu::-webkit-scrollbar {
  display: none;
}

.scrollbarcontainer img {
  opacity: 0.7;
  height: 30vh;
  width: 60vw;
}

.scrollimagetextcontainer {
  padding-bottom: 5vh;
}

.scrollbarimagetext {
  display: flex;
  justify-content: flex-start;
  color: snow;
  font-size: 20px;
  padding-left: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.scrollbarimagetext:hover {
  text-decoration: underline;
}

.scrollbarimagetext2 {
  display: flex;
  justify-content: flex-start;
  color: rgb(100, 100, 255);
  font-size: 20px;
  padding-left: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.scrollbarimagetext2:hover {
  text-decoration: underline;
}

/* -------------------------------------------------------- */

aside {
  display: none;
}

/* -------------------------------------------------------- */

#footer {
  min-height: 60vh;
  background-color: black;
}

.signcontainer1 {
  background-color: rgb(20, 20, 20);
  display: flex;
  height: 12.5vh;
  justify-content: center;
  align-items: center;
}

.signbtn1 {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: snow;
  background-color: rgb(37, 37, 37);
  padding: 12.5px;
  border-radius: 5px;
}

.signcontainer2 {
  background-color: rgb(15, 15, 15);
  display: flex;
  height: 12.5vh;
  justify-content: center;
  align-items: center;
}

.signbtn2 {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: rgb(100, 100, 255);
  background-color: rgb(37, 37, 37);
  padding: 12.5px;
  border-radius: 5px;
  /* JAg får ändra font senare */
  /* font-family: "Bebas Neue", sans-serif; */
}

.signbtn1:hover,
.signbtn2:hover {
  background-color: rgb(46, 46, 46);
  cursor: pointer;
}

.footericon {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-evenly;
  background-color: black;
  height: 12.5vh;
}

.footericonbutton {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  color: snow;
  display: flex;
  height: 50px;
  width: 50px;
  font-size: 25px;
  border-radius: 50%;
  border: none;
  cursor: pointer;
}

.footericon a {
  text-decoration: none;
}

.footericonbutton:hover {
  background-color: rgb(31, 31, 31);
}

.footerlinks {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-evenly;
  padding-bottom: 5vh;
}

.footerlinkswords {
  cursor: pointer;
  text-decoration: none;
  color: snow;
  font-size: 3vh;
}

.footerlinkswords:hover {
  text-decoration: underline;
}

.footerlinks2 {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-evenly;
  padding-top: 1vh;
}

/* -------------------------------------------------------- */

/* Desktop storlek */
/* Stämmer när skärmbredden är över 414pixlar */
@media (min-width: 415px) {
  #header {
    gap: 1rem;
    padding-inline: 7.5rem;
  }

  .headerbtn {
    color: snow;
    display: block;
    height: 2rem;
    display: flex;
    align-items: center;
    padding: 0.25rem;
    border-radius: 5px;
    padding-left: 1rem;
    padding-right: 1rem;
    font-family: "Bebas Neue", sans-serif;
    font-size: 1.5rem;
  }

  .headerbtn:hover {
    background-color: rgb(46, 46, 46);
    cursor: pointer;
  }

  .menutitle {
    display: block;
    color: snow;
    font-size: 1.5rem;
    font-family: "Bebas Neue", sans-serif;
  }

  .menu-button {
    display: block;
    color: snow;
    cursor: pointer;
    display: inline;
    display: flex;
    align-items: center;
    gap: 5px;
    padding-left: 1rem;
    padding-right: 1rem;
    border-radius: 5px;

    font-family: "Bebas Neue", sans-serif;
  }

  .menu-button:hover {
    background-color: rgb(46, 46, 46);
  }

  .navlogo {
    display: flex;
    color: snow;
    text-decoration: none;
    border-radius: 10px;
    border: 2.5px solid snow;
    padding: 5px 10px;
    font-size: 20px;
    font-family: "Bebas Neue", sans-serif;
  }

  /* -------------------------------------------------------- */

  #main {
    min-height: 60vh;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    padding-inline: 7.5rem;
  }

  .mySlides img {
    width: 100%;
    height: 60vh;
  }

  .searchbar input {
    width: 45vw;
    max-width: unset;
  }

  /* -------------------------------------------------------- */

  #aside {
    display: initial;
  }

  .aside {
    background-color: rgb(15, 15, 15);
    color: red;
  }

  .asidetitle {
    display: flex;
    align-items: center;
    color: snow;
    background-color: black;
    padding-bottom: 3vh;
    font-size: 1.5rem;
  }

  .asideimage {
    margin-bottom: 1rem;
    margin-top: 1rem;
    margin-left: 1rem;
  }

  /* -------------------------------------------------------- */

  #section {
    padding-left: 7.5rem;
  }

  .sectiontitle {
    background-color: inherit;
  }

  .horisantalscrollmenu {
    background-color: inherit;
    width: 60%;
  }

  .slideshow-container {
    grid-column: 1 / 3;
  }

  .scrollbarcontainer img {
    width: 30vw;
  }

  /* -------------------------------------------------------- */

  #footer {
    min-height: 50vh;
  }

  .signcontainer1 {
    display: none;
  }

  .footericon {
    display: flex;
    justify-content: center;
    gap: 2rem;
  }

  .footerlinks {
    display: flex;
    justify-content: center;
    gap: 2rem;
  }
}
