@media (max-width:600px) {
    body {
        margin: 0;
    }

    aside {
        display: none;
    }
  
    nav {
        display: flex;
        background-color: black;
        height: 64px;
        justify-content: center;
        align-items: center;

    }

    .searchbar input {
        height: 30px;
        width: 35vh;
        border: none;
        padding-left: 0.5rem;
        border-top-left-radius: 5px 5px;
        border-bottom-left-radius: 5px 5px;
        background-color: #FEFEFF;
        
        
    }

    .searchbar button {
        height: 32px;
        width: 32px;
        background-color: #FEFEFF;
        border: none;
        border-top-right-radius: 5px 5px;
        border-bottom-right-radius: 5px 5px;
        float: right;
        border-left: 2px solid rgb(190, 190, 190);
    }

    header {
        background-color: rgb(19, 19, 19);
        min-height: 300px;
        border-bottom: 2px solid #FEFEFF;

    }
    main {
        background-color: rgb(19, 19, 19);
        min-height: 300px;
        color: #FEFEFF;
        border-bottom: 2px solid #FEFEFF ;

    }
    footer {
        background-color: rgb(19, 19, 19);
        min-height: 100px;
    }
}


/* #wrapper {
    display: grid;
    height: 150vh;
    
} */





