@media (max-width:600px) {
    body {
        margin: 0;
    }

    aside {
        display: none;
    }
  
    nav {
        display: flex;
        background-color: black;
        height: 64px;
        justify-content: center;
        align-items: center;

    }

.searchbar input {
    height: 30px;
}

 .searchbar button {
    height: 30px;
    width: 30px;
        
}
   

    header {
        background-color: rgb(19, 19, 19);
        min-height: 300px;
        border-bottom: 2px solid #FEFEFF;

    }
    main {
        background-color: rgb(19, 19, 19);
        min-height: 300px;
        color: #FEFEFF;
        border-bottom: 2px solid #FEFEFF ;

    }
    footer {
        background-color: rgb(19, 19, 19);
        min-height: 100px;
    }
}

/* #wrapper {
    display: grid;
    height: 150vh;
    
} */





