.title {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  padding-top: 7.5vh;
  padding-bottom: 7.5vh;
}

.title h1 {
  font-size: calc(1.618 * 1.618 * 1rem);
  margin: 0;
}

.title h2 {
  font-size: calc(1.618 * 1rem);
  margin: 0;
}

.title p {
  font-size: calc(1.618 * 1rem / 1.5);
  margin: 0;
}
/* -------------------------------------------------------- */

#main {
  display: flex;
  min-height: 110vh;
}

.mainleft {
  display: flex;
  flex-direction: column;
  width: 65%;
}

.listedmoviecontainer {
  display: flex;
  align-items: center;
  height: 7.5rem;
  padding-bottom: 0.5rem;
}

.movielinks {
  height: 100%;
  width: auto;
  padding-left: 1rem;
  display: flex;
  align-items: center;
}

.movieimage {
  height: 100%;
  width: 85px;
  object-fit: cover;
}

.movietext {
  display: flex;
  flex-direction: column;
  text-decoration: none;
  margin-left: 0.5rem;
  color: black;
}

.movietext a {
  text-decoration: none;
  color: black;
  font-weight: bold;
  padding-bottom: 0.5rem;
}

.movietext a:hover {
  color: rgba(0, 0, 0, 0.5);
}

.movietext p {
  margin: 0;
  padding-bottom: 0.5rem;
}

.mainright {
  display: none;
  padding-left: 2rem;
  width: 35%;
}

.mainright h1 {
  margin: 0;
  padding-bottom: 2rem;
}

.mainrighttitle {
  font-size: calc(1.618 * 1rem);
  margin: 0;
  padding-bottom: 1rem;
  font-weight: bold;
  text-decoration: none;
  color: black;
}

.mainrighttitle:hover {
  color: rgba(0, 0, 0, 0.5);
}

.mainrightdescription {
  font-size: 1.25rem;
  margin: 0;
}

.mainright div {
  height: 6rem;
}

/* -------------------------------------------------------- */

/* Desktop storlek */
/* Stämmer när skärmbredden är över 414pixlar */
@media (min-width: 415px) {
  .title {
    display: flex;
    justify-content: flex-start;
    padding-inline: 7.5rem;
  }
  /* -------------------------------------------------------- */
  #main {
    padding-inline: 7.5rem;
  }

  .mainright {
    display: block;
  }

  .movielinks {
    padding-left: 0;
  }

  .listedmoviecontainer {
    box-shadow: 0 0 1px black;
    padding-left: 1rem;
    padding-top: 1rem;
    padding-bottom: 0.25rem;
    padding-bottom: 0;
  }
}
